# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#*
*~
**/#*
**/.#*
~*

*.class

mpdl/build
mpdl/target/generated-sources
physl/build
physl/target/generated-sources


build/*/dependencies
build/*/objs
build/*/libs
build/*/tests
build/*/tools

*.stackdump
*.core
perf.*
trace

*.pyc

mpam/logs
mpam/unused
